name: Docker Build & Push

on:
  push:
    tags: ["v*.*.*"] 

env:
  REGISTRY: ghcr.io

jobs:
  test:
    name: Test & Coverage
    uses: ./.github/workflows/test.yml
  build:
    name: Build & Push
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract tag and image name
        id: vars
        run: |
          TAG="${GITHUB_REF#refs/tags/}"
          if [[ "$TAG" == *-int ]]; then
            IMAGE_NAME="${{ github.repository }}/core-api"
          else
            IMAGE_NAME="${{ github.repository }}/core-api"
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          echo "image_name=$IMAGE_NAME" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ steps.vars.outputs.image_name }}
          tags: |
            type=raw,value=latest
            type=semver,pattern={{version}}
            type=sha

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64,linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
